@page "/fetchdata"

@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject AuthenticationStateProvider GetAuthenticationStateAsync
@inject HttpClient Http

@attribute [Authorize]

@if (response == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <p>@response</p>
    </div>
}

@code {
    private string? response;

    protected override async Task OnInitializedAsync()
    {

        // REMARK Get user name
        var authstate = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
        var user = authstate.User;
        var name = user?.Identity?.Name;

        // REMARK call azure function
        try
        {
            response = await Http.GetStringAsync($"api/Function1?name={name}");
        }
        catch (Exception exception)
        {
            response = exception.Message;
        }
    }
}
